In [78]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import csv
import warnings
warnings.filterwarnings("ignore")

# File to Load (Remember to change these)
oct_2018_csv = "oct_2018.csv"
nov_2018_csv = "nov_2018.csv"
dec_2018_csv = "dec_2018.csv"
jan_2019_csv = "jan_2019.csv"
feb_2019_csv = "feb_2019.csv"
march_2019_csv = "march_2019.csv"
apr_2019_csv = "april_19.csv"

# Read the City and Ride Data
oct_18_df = pd.read_csv(oct_2018_csv)
nov_18_df = pd.read_csv(nov_2018_csv)
dec_18_df = pd.read_csv(dec_2018_csv)
jan_19_df = pd.read_csv(jan_2019_csv)
feb_19_df = pd.read_csv(feb_2019_csv)
mar_19_df = pd.read_csv(march_2019_csv)
apr_19_df = pd.read_csv(apr_2019_csv)

In [79]:
# rename columns

oct_18_df = oct_18_df.rename(columns={'HOSPITAL': 'Hospital', 'DATE MED CLEAR AND PEPCS NOTIFIED': 'Date Clear', 'TIME MED CLEAR AND PEPCS NOTIFIED': 'Time Clear'})
nov_18_df = nov_18_df.rename(columns={'HOSPITAL': 'Hospital', 'DATE MED CLEAR AND PEPCS NOTIFIED': 'Date Clear', 'TIME MED CLEAR AND PEPCS NOTIFIED': 'Time Clear'})
dec_18_df = dec_18_df.rename(columns={'HOSPITAL': 'Hospital', 'DATE MED CLEAR AND PEPCS NOTIFIED': 'Date Clear', 'TIME MED CLEAR AND PEPCS NOTIFIED': 'Time Clear'})
jan_19_df = jan_19_df.rename(columns={'HOSPITAL': 'Hospital', 'DATE MED CLEAR AND PEPCS NOTIFIED': 'Date Clear', 'TIME MED CLEAR AND PEPCS NOTIFIED': 'Time Clear'})
feb_19_df = feb_19_df.rename(columns={'HOSPITAL': 'Hospital', 'DATE MED CLEAR AND PEPCS NOTIFIED': 'Date Clear', 'TIME MED CLEAR AND PEPCS NOTIFIED': 'Time Clear'})
mar_19_df = mar_19_df.rename(columns={'HOSPITAL': 'Hospital', 'DATE MED CLEAR AND PEPCS NOTIFIED': 'Date Clear', 'TIME MED CLEAR AND PEPCS NOTIFIED': 'Time Clear'})
apr_19_df = apr_19_df.rename(columns={'HOSPITAL': 'Hospital', 'DATE MED CLEAR AND PEPCS NOTIFIED': 'Date Clear', 'TIME MED CLEAR AND PEPCS NOTIFIED': 'Time Clear'})

In [80]:
#  print the data
oct_18_df.head()

  Hospital Date Clear Time Clear
0      PAH    10/1/18       0:30
1      PAH    9/30/18      23:15
2      PKR    9/30/18      20:50
3      SAH    9/30/18      16:30
4      LAH    10/1/18       7:30

In [81]:
oct_18_df.dropna(inplace=True)
oct_18_df = oct_18_df[oct_18_df["Time Clear"].str.contains(":")].reset_index(drop=True)
nov_18_df.dropna(inplace=True)
dec_18_df.dropna(inplace=True)
jan_19_df.dropna(inplace=True)
feb_19_df.dropna(inplace=True)
mar_19_df.dropna(inplace=True)
apr_19_df.dropna(inplace=True)

In [82]:
# oct_18_df.columns
# nov_18_df.columns
# dec_18_df.columns
# jan_19_df.columns
# feb_19_df.columns
# mar_19_df.columns
apr_19_df.columns

Index(['Hospital', 'Date Clear', 'Time Clear'], dtype='object')

In [83]:
# number of PTs per hospital for entire month
hospital_oct_count = oct_18_df.groupby('Hospital').count()
hospital_nov_count = nov_18_df.groupby('Hospital').count()
hospital_dec_count = dec_18_df.groupby('Hospital').count()
hospital_jan_count = jan_19_df.groupby('Hospital').count()
hospital_feb_count = feb_19_df.groupby('Hospital').count()
hospital_mar_count = mar_19_df.groupby('Hospital').count()
hospital_apr_count = apr_19_df.groupby('Hospital').count()

In [84]:
# number of PTs per hospital per date
hospital_date = oct_18_df.groupby('Date Clear').count()
# oct_hospital_date_count = hospital_date.sort_values(by=['DATE MED CLEAR AND PEPCS NOTIFIED'], inplace=True, ascending=True)
# oct_hospital_date_count
hospital_date

            Hospital  Time Clear
Date Clear
10/1/18           24          24
10/10/18          21          21
10/11/18          22          22
10/12/18          17          17
10/13/18          19          19
10/14/18          16          16
10/15/18          20          20
10/16/18          30          30
10/17/18          22          22
10/18/18          16          16
10/19/18          21          21
10/2/18           22          22
10/20/18          19          19
10/21/18          20          20
10/22/18          23          23
10/23/18          26          26
10/24/18          22          22
10/25/18          24          24
10/26/18          18          18
10/27/18          15          15
10/28/18          23          23
10/29/18          23          23
10/3/18           16          16
10/30/18          31          31
10/31/18          19          19
10/4/18           19          19
10/5/18           25          25
10/6/18           18          18
10/7/18           20          20
10/8/18           28          28
10/9/18           15          15
9/30/18            9           9

In [85]:
# import numpy as np 

# times = ["3:30", "15:45", "0:45", "1:00", "14:30"]

# def convert_time_to_computable_value(the_time):
#   p1, p2 = the_time.split(":")
#   return float(p1) + float(int(p2) / 60)

# converted_times = []

# for t in times:
#   converted_times.append(convert_time_to_computable_value(t))


# print(np.mean(converted_times))

In [86]:
oct_18_df.columns

Index(['Hospital', 'Date Clear', 'Time Clear'], dtype='object')

In [87]:
# wanting the average time a person clears (TIME MED CLEAR AND PEPCS NOTIFIED) per date per csv (start with Oct '18')
# hospital_time = oct_18_df.groupby('TIME MED CLEAR AND PEPCS NOTIFIED').mean()
# hospital_time

oct_18_df['Year'] = pd.DatetimeIndex(oct_18_df['Date Clear']).year
oct_18_df['Month'] = pd.DatetimeIndex(oct_18_df['Date Clear']).month
oct_18_df['Day'] = pd.DatetimeIndex(oct_18_df['Date Clear']).day

# df['year'] = pd.DatetimeIndex(df['ArrivalDate']).year
# df['month'] = pd.DatetimeIndex(df['ArrivalDate']).month

In [88]:
oct_18_df.head()

  Hospital Date Clear Time Clear  Year  Month  Day
0      PAH    10/1/18       0:30  2018     10    1
1      PAH    9/30/18      23:15  2018      9   30
2      PKR    9/30/18      20:50  2018      9   30
3      SAH    9/30/18      16:30  2018      9   30
4      LAH    10/1/18       7:30  2018     10    1

In [89]:
oct_18_df.columns

Index(['Hospital', 'Date Clear', 'Time Clear', 'Year', 'Month', 'Day'], dtype='object')

In [90]:
oct_18_df

     Hospital Date Clear Time Clear  Year  Month  Day
0         PAH    10/1/18       0:30  2018     10    1
1         PAH    9/30/18      23:15  2018      9   30
2         PKR    9/30/18      20:50  2018      9   30
3         SAH    9/30/18      16:30  2018      9   30
4         LAH    10/1/18       7:30  2018     10    1
5         PAH    10/1/18       0:30  2018     10    1
6         CRK    9/30/18      23:20  2018      9   30
7         PAH    9/30/18       8:30  2018      9   30
8       144TH    9/30/18       2:45  2018      9   30
9         LAH    9/30/18      16:30  2018      9   30
10   LAKEWOOD    10/1/18       9:10  2018     10    1
11        LAH    10/1/18      11:15  2018     10    1
12      144TH    9/30/18       3:35  2018      9   30
13        PAH    10/1/18      11:50  2018     10    1
14        SAH    10/1/18      12:00  2018     10    1
15        PAH    10/1/18      13:30  2018     10    1
16        PAH    9/30/18      20:40  2018      9   30
17        SAH    10/1/18      15:15  2018     10    1
18      144TH    10/1/18      15:53  2018     10    1
19        SAH    10/1/18       9:15  2018     10    1
20        PAH    10/1/18      14:00  2018     10    1
21        PKR    10/1/18      14:10  2018     10    1
22        CRK    10/1/18      18:05  2018     10    1
23        CRK    10/1/18      13:35  2018     10    1
24   LAKEWOOD    10/1/18      17:15  2018     10    1
25        CRK    10/1/18      18:10  2018     10    1
26        PKR    10/1/18       8:00  2018     10    1
27        PKR    10/1/18      20:00  2018     10    1
28        SAH    10/1/18      19:45  2018     10    1
29        PAH    10/2/18       0:27  2018     10    2
..        ...        ...        ...   ...    ...  ...
633     144TH   10/30/18      16:02  2018     10   30
634       PAH   10/30/18      19:45  2018     10   30
635       LAH   10/30/18      21:30  2018     10   30
636       LAH   10/30/18      20:55  2018     10   30
637       LAH   10/30/18      17:50  2018     10   30
638       PAH   10/30/18      21:15  2018     10   30
639       LAH   10/30/18      10:45  2018     10   30
640       CRK   10/30/18      22:52  2018     10   30
641       CRK   10/30/18      16:02  2018     10   30
642       LAH   10/30/18      20:04  2018     10   30
643       PKR   10/30/18      18:15  2018     10   30
644       PKR   10/31/18       6:49  2018     10   31
645       SAH   10/31/18       1:40  2018     10   31
646     144TH   10/31/18       0:15  2018     10   31
647       PAH   10/31/18       8:15  2018     10   31
648       PAH   10/31/18      13:00  2018     10   31
649       SAH   10/31/18      11:27  2018     10   31
650       PAH   10/31/18      10:45  2018     10   31
651       PAH   10/31/18      10:45  2018     10   31
652       LAH   10/31/18       9:55  2018     10   31
653       LAH   10/31/18      14:30  2018     10   31
654       LAH   10/31/18      10:15  2018     10   31
655       PAH   10/31/18      12:50  2018     10   31
656       SAH   10/31/18       8:55  2018     10   31
657       SAH   10/31/18      15:30  2018     10   31
658       SAH   10/31/18      14:00  2018     10   31
659       SAH   10/31/18      16:00  2018     10   31
660       PAH   10/31/18      19:00  2018     10   31
661       PAH   10/31/18      22:40  2018     10   31
662       SAH   10/31/18      17:15  2018     10   31

[663 rows x 6 columns]

In [115]:
oct_18_df['Date Clear'] = pd.to_datetime(oct_18_df['Date Clear'], errors='coerce')
oct_18_df['day_of_week'] = oct_18_df['Date Clear'].dt.day_name()
oct_18_df.head()

  Hospital Date Clear Time Clear  Year  Month  Day day_of_week
0      PAH 2018-10-01       0:30  2018     10    1      Monday
1      PAH 2018-09-30      23:15  2018      9   30      Sunday
2      PKR 2018-09-30      20:50  2018      9   30      Sunday
3      SAH 2018-09-30      16:30  2018      9   30      Sunday
4      LAH 2018-10-01       7:30  2018     10    1      Monday

In [123]:
oct_18_df = oct_18_df.groupby(['Hospital'])
oct_18_df.head()

     Hospital Date Clear Time Clear  Year  Month  Day day_of_week
0         PAH 2018-10-01       0:30  2018     10    1      Monday
1         PAH 2018-09-30      23:15  2018      9   30      Sunday
2         PKR 2018-09-30      20:50  2018      9   30      Sunday
3         SAH 2018-09-30      16:30  2018      9   30      Sunday
4         LAH 2018-10-01       7:30  2018     10    1      Monday
5         PAH 2018-10-01       0:30  2018     10    1      Monday
6         CRK 2018-09-30      23:20  2018      9   30      Sunday
7         PAH 2018-09-30       8:30  2018      9   30      Sunday
8       144TH 2018-09-30       2:45  2018      9   30      Sunday
9         LAH 2018-09-30      16:30  2018      9   30      Sunday
10   LAKEWOOD 2018-10-01       9:10  2018     10    1      Monday
11        LAH 2018-10-01      11:15  2018     10    1      Monday
12      144TH 2018-09-30       3:35  2018      9   30      Sunday
13        PAH 2018-10-01      11:50  2018     10    1      Monday
14        SAH 2018-10-01      12:00  2018     10    1      Monday
17        SAH 2018-10-01      15:15  2018     10    1      Monday
18      144TH 2018-10-01      15:53  2018     10    1      Monday
19        SAH 2018-10-01       9:15  2018     10    1      Monday
21        PKR 2018-10-01      14:10  2018     10    1      Monday
22        CRK 2018-10-01      18:05  2018     10    1      Monday
23        CRK 2018-10-01      13:35  2018     10    1      Monday
24   LAKEWOOD 2018-10-01      17:15  2018     10    1      Monday
25        CRK 2018-10-01      18:10  2018     10    1      Monday
26        PKR 2018-10-01       8:00  2018     10    1      Monday
27        PKR 2018-10-01      20:00  2018     10    1      Monday
28        SAH 2018-10-01      19:45  2018     10    1      Monday
31        CRK 2018-10-01      20:20  2018     10    1      Monday
32        PKR 2018-10-02       5:15  2018     10    2     Tuesday
33        LAH 2018-10-01      10:00  2018     10    1      Monday
39        LAH 2018-10-02       6:30  2018     10    2     Tuesday
41      144TH 2018-10-02       6:30  2018     10    2     Tuesday
44      144TH 2018-10-02      12:30  2018     10    2     Tuesday
81       CRED 2018-10-04      15:00  2018     10    4    Thursday
200      CRED 2018-10-10       3:35  2018     10   10   Wednesday
204    Golden 2018-10-10      15:20  2018     10   10   Wednesday
229       STM 2018-10-11      18:45  2018     10   11    Thursday
264       STM 2018-10-13      11:15  2018     10   13    Saturday
266      SLED 2018-10-13       9:55  2018     10   13    Saturday
283  LAH WEST 2018-10-14      17:37  2018     10   14      Sunday
368  LAH WEST 2018-10-18      15:00  2018     10   18    Thursday
442       STM 2018-10-22       8:10  2018     10   22      Monday
511  LAKEWOOD 2018-10-25       9:37  2018     10   25    Thursday
518      CRED 2018-10-25      15:15  2018     10   25    Thursday
536      SLED 2018-10-26       4:40  2018     10   26      Friday
547  LAH WEST 2018-10-26      20:50  2018     10   26      Friday
563      CRED 2018-10-27      14:50  2018     10   27    Saturday
608  WENCHELL 2018-10-30      23:55  2018     10   30     Tuesday

In [92]:
numeric_time_val = mar_19_df['Time Clear']
numeric_time_val

0      19:00
1      20:15
2      20:30
3      21:40
4      20:10
5      20:19
6      21:15
7      22:15
8      10:35
9      10:30
10      9:12
11     15:45
12      7:10
13     19:04
14      7:00
15      7:00
16      8:45
17      8:00
18     20:15
19     21:00
20     11:15
21      8:00
22      5:30
23     19:45
24     16:45
25      8:50
26      7:00
27      0:26
28     13:00
29      1:50
       ...
514    16:45
515     7:00
516    13:30
517    22:32
518    12:50
519    12:10
520    23:15
521     7:00
522     6:00
523    22:31
524    21:00
525    12:00
526    12:25
527     7:15
528    19:30
529    14:15
530    15:30
531    13:10
532    12:00
533    17:00
534    10:50
535    11:45
536    11:30
537    10:30
538     9:15
539    10:00
540     9:30
541    16:00
542    11:00
543    13:30
Name: Time Clear, Length: 544, dtype: object

In [93]:
import calendar

def get_time_from_string_march(row):
    try:
        hour, minute = row.split(":")
        return int(hour) + int(minute) / 60
    except AttributeError:
        return "checklater"
    
def get_dow_from_date_march(row):
    try:
        weekday_int =  datetime.datetime.strptime(row, "%m/%d/%Y").weekday()
        return calendar.day_name[weekday_int]
    except:
        return "checklater"
    
# clean_march = mar_19_df.query("numeric_time_val != 'checklater'").copy()
clean_march = mar_19_df.copy()
clean_march['numeric_time_val'] = clean_march['Time Clear'].map(get_time_from_string_march)
clean_march['dow'] = clean_march['Date Clear'].map(get_dow_from_date_march)

clean_march.head()

  Hospital Date Clear Time Clear  numeric_time_val       dow
0    144TH  3/31/2019      19:00         19.000000    Sunday
1    144TH  3/30/2019      20:15         20.250000  Saturday
2    144TH   3/4/2019      20:30         20.500000    Monday
3    144TH  3/22/2019      21:40         21.666667    Friday
4    144TH  3/28/2019      20:10         20.166667  Thursday

In [134]:
clean_march_h_count = clean_march.Hospital.value_counts()
clean_march_h_count.head()

Hospital  Hospital
144TH     144TH        51
CRK       CRK          45
LAH       LAH         118
LAH WEST  LAH WEST      5
PAH       PAH         153
Name: Hospital, dtype: int64

In [140]:
clean_march_dow = clean_march.dow.value_counts()
clean_march_dow

Hospital  dow
144TH     Saturday     12
          Thursday     11
          Sunday        8
          Tuesday       6
          Friday        5
          Monday        5
          Wednesday     4
CRK       Friday       10
          Sunday        8
          Thursday      7
          Monday        5
          Saturday      5
          Tuesday       5
          Wednesday     5
LAH       Monday       21
          Sunday       19
          Friday       18
          Tuesday      17
          Wednesday    16
          Thursday     15
          Saturday     12
LAH WEST  Thursday      2
          Friday        1
          Monday        1
          Wednesday     1
PAH       Friday       35
          Tuesday      23
          Wednesday    22
          Monday       21
          Sunday       21
          Saturday     18
          Thursday     13
PKR       Friday       18
          Monday       13
          Saturday     13
          Thursday     12
          Tuesday      11
          Wednesday    10
          Sunday        8
SAH       Sunday       19
          Monday       16
          Saturday     13
          Thursday     11
          Friday        8
          Tuesday       8
          Wednesday     7
SLED      Monday        1
STM       Thursday      2
          Tuesday       1
          Wednesday     1
Name: dow, dtype: int64

In [95]:
# useful converter function gonig from int to or readable time string

def get_back_to_string_time(number):
    if number < 13:
        part1 = number
    else:
        part1 = number - 12
    return part1

# get_back_to_string_time(14.633333)
clean_march.groupby(['Hospital', 'dow']).mean().unstack('dow', fill_value=0)

         numeric_time_val                                              \
dow                Friday     Monday   Saturday     Sunday   Thursday
Hospital
144TH           12.600000  13.450000  14.766667  12.593750  11.742424
CRK             12.335000  17.866667  13.643333  14.808333  14.633333
LAH             12.665741  14.196032  13.479167  12.218421  13.007778
LAH WEST         8.416667  21.500000   0.000000   0.000000   7.916667
PAH             13.874762  15.452381  14.504630  13.950000  11.974359
PKR             11.793519  15.244872  13.314103   9.952083  12.666667
SAH             11.429167  15.715625  12.293590  11.928070  12.724242
SLED             0.000000  12.166667   0.000000   0.000000   0.000000
STM              0.000000   0.000000   0.000000   0.000000   9.625000


dow         Tuesday  Wednesday
Hospital
144TH     16.672222   9.395833
CRK       17.583333  12.900000
LAH       11.443137  10.973958
LAH WEST   0.000000   7.000000
PAH       14.745652  15.200758
PKR       13.965152  12.016667
SAH       12.895833  13.523810
SLED       0.000000   0.000000
STM       19.500000  12.416667

In [96]:
numeric_time_val_feb = feb_19_df['Time Clear']
numeric_time_val_feb.head()

0    12:36
1    22:45
2     5:30
3    15:23
4    16:30
Name: Time Clear, dtype: object

In [97]:
# def get_time_from_string_feb(row):
#     try:
#         hour, minute = row.split(":")
#         return int(hour) + int(minute) / 60
#     except AttributeError:
#         return "checklater"
    
# def get_dow_from_date_feb(row):
#     try:
#         weekday_int =  datetime.datetime.strptime(row, "%m/%d/%Y").weekday()
#         return calendar.day_name[weekday_int]
#     except:
#         return "checklater"
    
# # clean_march = mar_19_df.query("numeric_time_val != 'checklater'").copy()
# clean_feb = feb_19_df.copy()
# clean_feb['numeric_time_val_feb'] = clean_feb['Time Clear'].map(get_time_from_string_feb)
# clean_feb['dow'] = clean_feb['Date Clear'].map(get_dow_from_date_feb)

# clean_feb.head()

def get_time_from_string_feb(row):
    try:
        hour, minute = row.split(":")
        return int(hour) + int(minute) / 60
    except AttributeError:
        return "checklater"
    
def get_dow_from_date_feb(row):
    try:
        weekday_int =  datetime.datetime.strptime(row, "%m/%d/%Y").weekday()
        return calendar.day_name[weekday_int]
    except:
        return "checklater"
    
# clean_march = mar_19_df.query("numeric_time_val != 'checklater'").copy()
clean_feb = feb_19_df.copy()
clean_feb['numeric_time_val'] = clean_feb['Time Clear'].map(get_time_from_string_feb)
clean_feb['dow'] = clean_feb['Date Clear'].map(get_dow_from_date_feb)

clean_march.head()

  Hospital Date Clear Time Clear  numeric_time_val       dow
0    144TH  3/31/2019      19:00         19.000000    Sunday
1    144TH  3/30/2019      20:15         20.250000  Saturday
2    144TH   3/4/2019      20:30         20.500000    Monday
3    144TH  3/22/2019      21:40         21.666667    Friday
4    144TH  3/28/2019      20:10         20.166667  Thursday

In [98]:
# def get_back_to_string_time_feb(number):
#     if number < 13:
#         part1 = (number) * 60
#     else:
#         part1 = (number - 12) * 60
#     return part1

# feb_avg = clean_feb[clean_feb["numeric_time_val_feb"] != "checklater"]
# feb_avg["numeric_time_val_feb"] = feb_avg["numeric_time_val_feb"].apply(lambda x: float(x))
# feb_avg.groupby(["Hospital","dow"]).agg({"numeric_time_val_feb":"mean"}).unstack('dow', fill_value=0)

In [99]:
# useful converter function gonig from int to or readable time string
def get_back_to_string_time_feb(number):
    if number < 13:
        part1 = number
    else:
        part1 = number - 12
    return part1

clean_feb.groupby(['Hospital', 'dow']).mean().unstack('dow', fill_value=0)

         numeric_time_val
dow            checklater
Hospital
144TH           11.713559
84TH            20.250000
CRED            13.625000
CRK             14.366667
GOLDEN          21.416667
LAH             12.252519
LAH WEST        12.297222
LAKEWOOD        16.166667
MERIDIAN        21.500000
PAH             13.893424
PKR             13.223125
SAH             13.561877
SLED            16.666667
STM             16.906250

In [100]:
numeric_time_val_jan = jan_19_df['Time Clear']
numeric_time_val_jan.head()

0    11:30
1    22:00
2    19:30
3    10:55
4    16:39
Name: Time Clear, dtype: object

In [101]:
def get_time_from_string_jan(row):
    try:
        hour, minute = row.split(":")
        return int(hour) + int(minute) / 60
    except AttributeError:
        return "checklater"
    
def get_dow_from_date_jan(row):
    try:
        weekday_int =  datetime.datetime.strptime(row, "%m/%d/%Y").weekday()
        return calendar.day_name[weekday_int]
    except:
        return "checklater"

clean_jan = jan_19_df.copy()
clean_jan['numeric_time_val_jan'] = clean_jan['Time Clear'].map(get_time_from_string_jan)
clean_jan['dow'] = clean_jan['Date Clear'].map(get_dow_from_date_jan)

clean_jan.head()

  Hospital Date Clear Time Clear  numeric_time_val_jan       dow
0    144TH  1/31/2019      11:30             11.500000  Thursday
1    144TH  1/13/2019      22:00             22.000000    Sunday
2    144TH  1/29/2019      19:30             19.500000   Tuesday
3    144TH  1/21/2019      10:55             10.916667    Monday
4    144TH  1/13/2019      16:39             16.650000    Sunday

,Hospital,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,144TH,5:51 PM,1:18 PM,1:16 PM,2:22 PM,11:55 AM,1:48 PM,2:01 PM
1,CRED,12:00 AM,12:00 AM,12:00 AM,12:52 PM,3:10 PM,12:00 AM,12:00 AM
2,CRK,2:01 PM,11:25 AM,11:11 AM,11:03 AM,11:47 AM,1:12 PM,11:41 AM
3,INDIAN PEAKS,12:00 AM,12:00 AM,7:00 PM,7:29 PM,12:00 AM,12:00 AM,6:49 PM
4,LAH,12:30 PM,5:11 PM,1:13 PM,9:31 AM,1:35 PM,2:15 PM,11:46 AM

In [103]:
# useful converter function gonig from int to or readable time string
def get_back_to_string_time_jan(number):
    if number < 13:
        part1 = number
    else:
        part1 = number - 12
    return part1

clean_jan = clean_jan.groupby(['Hospital', 'dow']).mean().unstack('dow', fill_value=0).reset_index()
clean_jan.head()

         Hospital numeric_time_val_jan                                   \
dow                             Friday     Monday   Saturday     Sunday
0           144TH            17.847222  13.294444  13.266667  14.366667
1            CRED             0.000000   0.000000   0.000000  12.875000
2             CRK            14.012500  11.413889  11.183333  11.052381
3    INDIAN PEAKS             0.000000   0.000000  19.000000  19.483333
4             LAH            12.503333  17.191176  13.223333   9.519048


dow   Thursday    Tuesday  Wednesday
0    11.921667  13.791667  14.019048
1    15.166667   0.000000   0.000000
2    11.789394  13.200000  11.678333
3     0.000000   0.000000  18.816667
4    13.590625  14.251389  11.763725

In [104]:
# clean_jan = clean_jan.groupby(['Hospital', 'dow']).mean().unstack('dow', fill_value=0).reset_index()
clean_jan.columns = ("Hospital","Friday","Monday","Saturday","Sunday","Thursday","Tuesday","Wednesday")
clean_jan

,Hospital,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,144TH,17.847222,13.294444,13.266667,14.366667,11.921667,13.791667,14.019048
1,CRED,0.000000,0.000000,0.000000,12.875000,15.166667,0.000000,0.000000
2,CRK,14.012500,11.413889,11.183333,11.052381,11.789394,13.200000,11.678333
3,INDIAN PEAKS,0.000000,0.000000,19.000000,19.483333,0.000000,0.000000,18.816667
4,LAH,12.503333,17.191176,13.223333,9.519048,13.590625,14.251389,11.763725
5,LAH WEST,0.000000,0.000000,0.000000,22.366667,10.250000,0.000000,0.000000
6,LAKEWOOD,22.833333,0.000000,23.000000,0.000000,16.000000,0.000000,0.000000
7,MERIDIAN,0.000000,11.800000,0.000000,0.000000,0.000000,0.000000,0.000000
8,PAH,15.309524,13.276190,13.380208,13.465278,14.385185,13.085484,15.807222
9,PKR,13.114583,13.374074,12.581111,15.997619,15.273810,13.031250,11.294697
10,SAH,12.750000,13.520238,13.483333,12.339286,13.419872,15.308333,14.181250
11,SLED,16.875000,16.583333,7.333333,0.000000,10.250000,10.750000,0.000000
12,STM,0.000000,0.000000,0.000000,0.000000,10.916667,0.000000,13.888889

In [105]:
def get_back_to_real_time_jan(number):
    if number >= 12:
        ap = "PM"
    else:
        ap = "AM"
    hour = (int(number)-1) % 12 + 1
    minute = str(round((number - int(number)) * 60))
    if len(minute) == 1:
        minute = "0" + str(minute)
    return f"{hour}:{minute} {ap}"

for day in ['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday','Tuesday', 'Wednesday']:
    clean_jan[day] = clean_jan[day].apply(lambda x: get_back_to_real_time_jan(x))
clean_jan

,Hospital,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,144TH,5:51 PM,1:18 PM,1:16 PM,2:22 PM,11:55 AM,1:48 PM,2:01 PM
1,CRED,12:00 AM,12:00 AM,12:00 AM,12:52 PM,3:10 PM,12:00 AM,12:00 AM
2,CRK,2:01 PM,11:25 AM,11:11 AM,11:03 AM,11:47 AM,1:12 PM,11:41 AM
3,INDIAN PEAKS,12:00 AM,12:00 AM,7:00 PM,7:29 PM,12:00 AM,12:00 AM,6:49 PM
4,LAH,12:30 PM,5:11 PM,1:13 PM,9:31 AM,1:35 PM,2:15 PM,11:46 AM
5,LAH WEST,12:00 AM,12:00 AM,12:00 AM,10:22 PM,10:15 AM,12:00 AM,12:00 AM
6,LAKEWOOD,10:50 PM,12:00 AM,11:00 PM,12:00 AM,4:00 PM,12:00 AM,12:00 AM
7,MERIDIAN,12:00 AM,11:48 AM,12:00 AM,12:00 AM,12:00 AM,12:00 AM,12:00 AM
8,PAH,3:19 PM,1:17 PM,1:23 PM,1:28 PM,2:23 PM,1:05 PM,3:48 PM
9,PKR,1:07 PM,1:22 PM,12:35 PM,3:60 PM,3:16 PM,1:02 PM,11:18 AM
10,SAH,12:45 PM,1:31 PM,1:29 PM,12:20 PM,1:25 PM,3:19 PM,2:11 PM
11,SLED,4:52 PM,4:35 PM,7:20 AM,12:00 AM,10:15 AM,10:45 AM,12:00 AM
12,STM,12:00 AM,12:00 AM,12:00 AM,12:00 AM,10:55 AM,12:00 AM,1:53 PM

In [149]:
import glob

# path = r'\Users\damia\Desktop\Final-Project' # use your path
path = 'Users/lauratalkington/Users/Desktop/Final-Project'
all_files = glob.glob("*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

all_df = pd.concat(li, axis=0, ignore_index=True)

In [150]:
all_df.sort_values('DATE MED CLEAR AND PEPCS NOTIFIED').head()

,HOSPITAL,DATE MED CLEAR AND PEPCS NOTIFIED,TIME MED CLEAR AND PEPCS NOTIFIED
2422,SAH,1/1/2019,23:15
2327,PKR,1/1/2019,14:00
2315,PKR,1/1/2019,12:50
1978,CRK,1/1/2019,16:30
2432,SAH,1/1/2019,12:10

In [151]:
all_df.dropna(inplace=True)
all_df

,HOSPITAL,DATE MED CLEAR AND PEPCS NOTIFIED,TIME MED CLEAR AND PEPCS NOTIFIED
0,SAH,4/26/19,15:15
1,144TH,4/27/19,18:32
2,CRK,4/25/19,0:45
3,144TH,4/27/19,9:10
4,144TH,3/31/19,22:00
5,CRK,4/1/19,7:15
6,LAH,4/1/19,7:15
7,CRK,4/1/19,17:25
8,CRK,4/1/19,11:00
9,CRK,4/2/19,5:50
10,LAH,4/1/19,19:15
11,PAH,4/1/19,19:00
12,PAH,4/1/19,23:53
13,SAH,4/1/19,19:45
14,SAH,4/2/19,14:00
15,SAH,4/1/19,13:15
16,CRK,4/1/19,15:18
17,144TH,4/2/19,12:38
18,PAH,4/2/19,19:15
19,PAH,4/2/19,10:15
20,PAH,4/2/19,20:10
21,SAH,4/3/19,6:45
22,SAH,4/2/19,23:15
23,STM,4/2/19,20:30
24,CRK,4/3/19,5:40
25,LAH,4/4/19,14:00
26,PAH,4/3/19,14:35
27,PAH,4/3/19,17:40
28,PAH,4/4/19,13:00
29,PAH,4/3/19,12:18
...,...,...,...
4536,144TH,10/30/18,16:02
4537,PAH,10/30/18,19:45
4538,LAH,10/30/18,21:30
4539,LAH,10/30/18,20:55
4540,LAH,10/30/18,17:50
4541,PAH,10/30/18,21:15
4542,LAH,10/30/18,10:45
4543,CRK,10/30/18,22:52
4544,CRK,10/30/18,16:02
4545,LAH,10/30/18,20:04
4546,PKR,10/30/18,18:15
4547,PKR,10/31/18,6:49
4548,SAH,10/31/18,1:40
4549,144TH,10/31/18,0:15
4550,PAH,10/31/18,8:15
4551,PAH,10/31/18,13:00
4552,SAH,10/31/18,11:27
4553,PAH,10/31/18,10:45
4554,PAH,10/31/18,10:45
4555,LAH,10/31/18,9:55
4556,LAH,10/31/18,14:30
4557,LAH,10/31/18,10:15
4558,PAH,10/31/18,12:50
4559,SAH,10/31/18,8:55
4560,SAH,10/31/18,15:30
4561,SAH,10/31/18,14:00
4562,SAH,10/31/18,16:00
4563,PAH,10/31/18,19:00
4564,PAH,10/31/18,22:40
4565,SAH,10/31/18,17:15

In [159]:
all_df['Year'] = pd.DatetimeIndex(all_df['DATE MED CLEAR AND PEPCS NOTIFIED']).year
all_df['Month'] = pd.DatetimeIndex(all_df['DATE MED CLEAR AND PEPCS NOTIFIED']).month
all_df['Day'] = pd.DatetimeIndex(all_df['DATE MED CLEAR AND PEPCS NOTIFIED']).day
all_df['Date Clear'] = pd.to_datetime(all_df['DATE MED CLEAR AND PEPCS NOTIFIED'], errors='coerce')
all_df['day_of_week'] = all_df['DATE MED CLEAR AND PEPCS NOTIFIED'].dt.day_name()
all_df.head()

AttributeError: Can only use .dt accessor with datetimelike values

In [152]:
numeric_time_val_all = all_df['TIME MED CLEAR AND PEPCS NOTIFIED']
numeric_time_val_all.head()

0    15:15
1    18:32
2     0:45
3     9:10
4    22:00
Name: TIME MED CLEAR AND PEPCS NOTIFIED, dtype: object

In [156]:
def get_time_from_string_all(row):
    try:
        hour, minute = row.split(":")
        return int(hour) + int(minute) / 60
    except AttributeError:
        return "checklater"
    
clean_all = all_df.copy()
clean_all['converted_time'] = clean_all['TIME MED CLEAR AND PEPCS NOTIFIED'].map(get_time_from_string_all)
clean_all.head()

,HOSPITAL,DATE MED CLEAR AND PEPCS NOTIFIED,TIME MED CLEAR AND PEPCS NOTIFIED,converted_time
0,SAH,4/26/19,15:15,15.250000
1,144TH,4/27/19,18:32,18.533333
2,CRK,4/25/19,0:45,0.750000
3,144TH,4/27/19,9:10,9.166667
4,144TH,3/31/19,22:00,22.000000

In [157]:
def get_back_to_string_time_all(number):
    if number < 13:
        part1 = number
    else:
        part1 = number - 12
    return part1

clean_all.groupby(['HOSPITAL', 'dow']).mean().unstack('dow', fill_value=0)

KeyError: 'dow'

In [147]:
clean_time = clean_all.groupby(['HOSPITAL', 'dow']).mean().unstack('dow', fill_value=0).reset_index()
clean_time.columns = ("Hospital","Friday","Monday","Saturday","Sunday","Thursday","Tuesday","Wednesday", "checklater")
clean_time

NameError: name 'clean_all' is not defined

In [148]:
def get_back_to_real_time(number):
    if number >= 12:
        ap = "PM"
    else:
        ap = "AM"
    hour = (int(number)-1) % 12 + 1
    minute = str(round((number - int(number)) * 60))
    if len(minute) == 1:
        minute = 0 + minute
    return "f{hour}:{minute} {ap}"

for day in ['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday','Tuesday', 'Wednesday', 'checklater']:
    clean_time[day] = clean_time[day].apply(lambda x: get_back_to_real_time(x))
clean_time

NameError: name 'clean_time' is not defined

In [1]:
# hospital lats & longs
from pandas import DataFrame

location = { 'Hospital': ['144th', 'CRED', 'CRK', 'HIGHLANDS', 'INDIAN PEAKS', 'LAH', 'LAH WEST', 
                          'LAKEWOOD', 'MERIDIAN', 'PAH', 'PKR', 'SAH', 'SLED', 'STM'],
           'Latitude': [39.956501, 39.883970, 39.404041, 39.548990, 40.089760, 39.576420, 39.596240, 
                        39.656350, 39.535710, 39.670479, 39.548270, 39.716210, 39.604100, 38.455490],
           'Longitude': [-104.993668, -105.076910, -104.886253, -104.993390, -104.711610, -104.986150, -105.108650, 
                         -105.080780, -104.853270, -104.975151, -104.770930, -105.129770, -104.966880, -105.230280]
           }

location_df = DataFrame(location,columns= ['Hospital', 'Latitude', 'Longitude'])
location_df

        Hospital   Latitude   Longitude
0          144th  39.956501 -104.993668
1           CRED  39.883970 -105.076910
2            CRK  39.404041 -104.886253
3      HIGHLANDS  39.548990 -104.993390
4   INDIAN PEAKS  40.089760 -104.711610
5            LAH  39.576420 -104.986150
6       LAH WEST  39.596240 -105.108650
7       LAKEWOOD  39.656350 -105.080780
8       MERIDIAN  39.535710 -104.853270
9            PAH  39.670479 -104.975151
10           PKR  39.548270 -104.770930
11           SAH  39.716210 -105.129770
12          SLED  39.604100 -104.966880
13           STM  38.455490 -105.230280

In [2]:
location_df.to_csv('locations.csv', index=True)

In [160]:
import glob

path = r'\Users\damia\Desktop\Final-Project' # use your path
# path = 'Users/lauratalkington/Users/Desktop/Final-Project'
all_files = glob.glob("*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

all_df = pd.concat(li, axis=0, ignore_index=True)

In [162]:
all_df = all_df.rename(columns={'HOSPITAL': 'Hospital', 'DATE MED CLEAR AND PEPCS NOTIFIED': 'Date Clear', 'TIME MED CLEAR AND PEPCS NOTIFIED': 'Time Clear'})
all_df.head()

  Hospital Date Clear Time Clear
0      SAH    4/26/19      15:15
1    144TH    4/27/19      18:32
2      CRK    4/25/19       0:45
3    144TH    4/27/19       9:10
4    144TH    3/31/19      22:00

In [163]:
all_df['Year'] = pd.DatetimeIndex(all_df['Date Clear']).year
all_df['Month'] = pd.DatetimeIndex(all_df['Date Clear']).month
all_df['Day'] = pd.DatetimeIndex(all_df['Date Clear']).day
all_df['Date Clear'] = pd.to_datetime(all_df['Date Clear'], errors='coerce')
all_df['day_of_week'] = all_df['Date Clear'].dt.day_name()
all_df.head()

  Hospital Date Clear Time Clear    Year  Month   Day day_of_week
0      SAH 2019-04-26      15:15  2019.0    4.0  26.0      Friday
1    144TH 2019-04-27      18:32  2019.0    4.0  27.0    Saturday
2      CRK 2019-04-25       0:45  2019.0    4.0  25.0    Thursday
3    144TH 2019-04-27       9:10  2019.0    4.0  27.0    Saturday
4    144TH 2019-03-31      22:00  2019.0    3.0  31.0      Sunday

In [164]:
converted_time_all = all_df['Time Clear']
converted_time_all.head()

0    15:15
1    18:32
2     0:45
3     9:10
4    22:00
Name: Time Clear, dtype: object

In [165]:
def get_time_from_string_all(row):
    try:
        hour, minute = row.split(":")
        return int(hour) + int(minute) / 60
    except AttributeError:
        return "checklater"
    
clean_all = all_df.copy()
clean_all['converted_time'] = clean_all['Time Clear'].map(get_time_from_string_all)
clean_all.head()

,Hospital,Date Clear,Time Clear,Year,Month,Day,day_of_week,converted_time
0,SAH,2019-04-26,15:15,2019.0,4.0,26.0,Friday,15.25
1,144TH,2019-04-27,18:32,2019.0,4.0,27.0,Saturday,18.5333
2,CRK,2019-04-25,0:45,2019.0,4.0,25.0,Thursday,0.75
3,144TH,2019-04-27,9:10,2019.0,4.0,27.0,Saturday,9.16667
4,144TH,2019-03-31,22:00,2019.0,3.0,31.0,Sunday,22

In [173]:
# def get_back_to_string_time_all(number):
#     if number < 13:
#         part1 = number
#     else:
#         part1 = number - 12
#     return part1

# clean_all = clean_all.groupby(['Hospital', 'day_of_week']).mean().converted_time.unstack('day_of_week', fill_value=0).reset_index()
# clean_all.head()

def get_back_to_string_time_all(number):
    if number < 13:
        part1 = number
    else:
        part1 = number - 12
    return part1

clean_all.groupby(['day_of_week', 'Hospital']).mean().unstack('day_of_week', fill_value=0)

                     Year                                                      \
day_of_week        Friday       Monday     Saturday       Sunday     Thursday
Hospital
144TH         2018.481481  2018.500000  2018.642857  2018.500000  2018.540541
CRED          2019.000000  2018.000000  2018.000000  2019.000000  2018.333333
CRK           2018.547170  2018.534483  2018.600000  2018.652174  2018.568627
LAH           2018.627660  2018.590551  2018.510417  2018.553571  2018.587629
LAH WEST      2018.250000  2019.000000  2018.500000  2018.400000  2018.750000
LAKEWOOD      2018.500000  2018.000000  2018.333333     0.000000  2018.500000
MERIDIAN      2019.000000  2019.000000     0.000000     0.000000     0.000000
PAH           2018.643275  2018.516129  2018.542636  2018.598592  2018.528302
PKR           2018.530612  2018.530000  2018.526316  2018.472222  2018.597938
SAH           2018.483146  2018.556522  2018.530864  2018.635417  2018.572650
SLED          2018.750000  2018.400000  2018.500000     0.000000  2018.400000
STM           2019.000000  2018.500000  2018.200000     0.000000  2018.800000
84TH             0.000000  2019.000000     0.000000     0.000000     0.000000
GOLDEN           0.000000  2019.000000  2019.000000     0.000000     0.000000
INDIAN PEAKS     0.000000     0.000000  2019.000000  2019.000000  2018.000000
HIGHLANDS        0.000000     0.000000     0.000000     0.000000     0.000000
WENCHELL         0.000000     0.000000     0.000000     0.000000     0.000000
Golden           0.000000     0.000000     0.000000     0.000000     0.000000

                                           Month                        \
day_of_week       Tuesday    Wednesday    Friday     Monday   Saturday
Hospital
144TH         2018.506329  2018.483333  6.907407   6.857143   5.839286
CRED          2019.000000  2018.500000  2.000000  12.000000  10.500000
CRK           2018.555556  2018.595745  6.264151   6.672414   5.700000
LAH           2018.484536  2018.595960  5.712766   5.952756   6.687500
LAH WEST      2019.000000  2019.000000  9.250000   2.333333   7.000000
LAKEWOOD      2019.000000  2019.000000  6.500000  10.000000   8.000000
MERIDIAN      2019.000000     0.000000  2.000000   1.000000   0.000000
PAH           2018.534653  2018.505556  5.614035   6.693548   6.333333
PKR           2018.447917  2018.630435  6.448980   6.470000   6.421053
SAH           2018.563830  2018.473118  6.921348   6.304348   6.580247
SLED          2019.000000  2018.000000  3.500000   7.600000   5.500000
STM           2018.555556  2018.833333  3.000000   6.833333   9.200000
84TH             0.000000  2019.000000  0.000000   4.000000   0.000000
GOLDEN        2019.000000  2019.000000  0.000000   2.000000   4.000000
INDIAN PEAKS     0.000000  2019.000000  0.000000   0.000000   1.000000
HIGHLANDS     2018.000000     0.000000  0.000000   0.000000   0.000000
WENCHELL      2018.000000     0.000000  0.000000   0.000000   0.000000
Golden           0.000000  2018.000000  0.000000   0.000000   0.000000

                ...                                             Day  \
day_of_week     ...       Thursday    Tuesday  Wednesday     Friday
Hospital        ...
144TH           ...       6.351351   6.772152   7.000000  15.500000
CRED            ...       7.000000   2.000000   6.000000   1.000000
CRK             ...       5.921569   5.981481   5.829787  14.849057
LAH             ...       6.103093   6.835052   5.717172  16.382979
LAH WEST        ...       4.250000   3.000000   2.500000  24.250000
LAKEWOOD        ...       5.500000   4.000000   2.000000  16.000000
MERIDIAN        ...       0.000000   4.000000   0.000000  22.000000
PAH             ...       6.396226   6.440594   6.522222  14.666667
PKR             ...       6.041237   7.093750   5.489130  14.346939
SAH             ...       5.905983   5.978723   6.913978  14.932584
SLED            ...       8.000000   1.000000  11.666667  21.000000
STM             ...       3.800000   6.777778   3.166667   6.500000
84TH            ...       0.000000   0.000000   2.000000   0.000000
GOLDEN          ...       0.000000   2.000000   4.000000   0.000000
INDIAN PEAKS    ...      11.000000   0.000000   1.000000   0.000000
HIGHLANDS       ...       0.000000  11.000000   0.000000   0.000000
WENCHELL        ...       0.000000  10.000000   0.000000   0.000000
Golden          ...       0.000000   0.000000  10.000000   0.000000


day_of_week      Monday   Saturday     Sunday   Thursday    Tuesday  Wednesday
Hospital
144TH         16.571429  15.839286  16.181818  15.648649  16.189873  16.883333
CRED           3.000000  18.500000   7.333333  15.333333  19.000000   8.000000
CRK           15.172414  14.575000  15.391304  15.823529  14.925926  15.978723
LAH           15.874016  17.041667  15.571429  16.659794  15.783505  16.787879
LAH WEST      15.666667   8.500000  12.400000  19.250000  17.500000  23.500000
LAKEWOOD       1.000000  10.000000   0.000000  17.500000  16.000000  20.000000
MERIDIAN       7.000000   0.000000   0.000000   0.000000  16.000000   0.000000
PAH           14.768817  14.790698  14.936620  15.283019  15.009901  16.555556
PKR           16.300000  12.842105  16.430556  16.402062  14.781250  15.902174
SAH           16.208696  15.049383  16.916667  15.811966  15.861702  15.397849
SLED          10.400000   9.000000   0.000000   9.600000   8.000000  17.333333
STM           18.166667  11.400000   0.000000  18.200000   9.000000  13.500000
84TH           1.000000   0.000000   0.000000   0.000000   0.000000   6.000000
GOLDEN         4.000000  27.000000   0.000000   0.000000   5.000000   3.000000
INDIAN PEAKS   0.000000  26.000000   6.000000   8.000000   0.000000  16.000000
HIGHLANDS      0.000000   0.000000   0.000000   0.000000   6.000000   0.000000
WENCHELL       0.000000   0.000000   0.000000   0.000000  30.000000   0.000000
Golden         0.000000   0.000000   0.000000   0.000000   0.000000  10.000000

[18 rows x 21 columns]

In [ ]:
, 'day_of_week'